<div>
    <app-menu></app-menu>
    <header>
        <span id="pageTitle">{{pageTitle}}</span> |
        <span>
            <a *ngIf="isAdmin" routerLink="/product/create" class="btn btn-primary btn-sm">New Product</a>
        </span>
    </header>
    <table class="table table-striped table-sm table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Part Number</th>
                <th>Name</th>
                <th>Price</th>
                <th>Unit</th>
                <th>Vendor</th>
                <th>Photo Path</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <td> {{p.id}}</td>
                <td>{{p.partNbr}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price | currency}}</td>
                <td>{{p.unit}}</td>
                <td>{{p.vendor.name}}</td>
                <td>{{p.photoPath}}</td>
               
                <td>
                    <a routerLink="/product/detail/{{p.id}}" class="btn btn-primary btn-sm">Detail</a>
                    <span *ngIf="isAdmin"> | </span>
                    <a *ngIf="isAdmin" routerLink="/product/change/{{p.id}}" class="btn btn-warning btn-sm">Change</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
