<app-menu></app-menu>
<header>
    <span id="pageTitle">{{pageTitle}}</span>
</header>
<main>
    <table class="table table-striped table-sm">
        <tbody>
            <tr>
                <td>Id</td>
                <td><input [(ngModel)]="requestline.id" readonly disabled="true"></td>
            </tr>
            <tr>
                <td>Product</td>
                <td><select [(ngModel)]="requestline.productId">
                    <option *ngFor="let p of products" value="{{p.id}}">{{p.name}}</option>
                </select></td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td><input [(ngModel)]="requestline.quantity"></td>
            </tr>



        </tbody>
    </table>
    <div class="buttons">
    <a routerLink="/request/lines/{{rlId}}" class="btn btn-primary btn-sm">Back</a>

    <button (click)="save()" class="btn btn-success btn-sm">Save</button>

 
    </div>
    
</main>