<div id="component">
    <app-menu></app-menu>
    <header>
        <span id="pageTitle">{{pageTitle}}</span>
    </header>
    <main>
        <table class="table table-striped table-sm" *ngIf="user">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td><input [(ngModel)]="user.id" readonly disabled="true"></td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td><input [(ngModel)]="user.firstname" readonly disabled="true"></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input [(ngModel)]="user.lastname" readonly disabled="true"></td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td><input [(ngModel)]="user.username" readonly disabled="true"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input [(ngModel)]="user.password" type="password" readonly disabled="true"></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input [(ngModel)]="user.phone" readonly disabled="true"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input [(ngModel)]="user.email" readonly disabled="true"></td>
                </tr>
                <tr>
                    <td>Reviewer?</td>
                    <td><input [(ngModel)]="user.isReviewer" type="checkbox" disabled="true"></td>
                </tr>
                <tr>
                    <td>Admin?</td>
                    <td><input [(ngModel)]="user.isAdmin" type="checkbox" disabled="true"></td>
                </tr>
            </tbody>
        </table>
        <div class="buttons">
        <a routerLink="/user/list" class="btn btn-primary btn-sm">Back</a>

        <button (click)="delete()" class="btn btn-danger btn-sm">Delete</button>
        <button *ngIf="areYouSure" (click)="finalDelete()" class="btn btn-danger btn-sm">ARE YOU SURE?</button>
     
        </div>
        
    </main>
</div>
