<div>
    <app-menu></app-menu>
    <header>
        <span id="pageTitle">{{pageTitle}}</span> |
        <span>
            <a routerLink="/requestlines/create/{{request.id}}" class="btn btn-primary btn-sm" *ngIf="request">New Line</a>
            <a routerLink="/request/list" class="btn btn-primary btn-sm">Back</a>
        </span>
    </header>
    <table class="table table-striped table-sm table-hover" *ngIf="request">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Justification</th>
                <th>Rejection Reason</th>
                <th>Delivery Mode</th>
                <th>Status</th>
                <th>User</th>
       
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{request.id}}</td>
                <td>{{request.description}}</td>
                <td>{{request.justification}}</td>
                <td class="reject">{{request.rejectionReason}}</td>
                <td>{{request.deliveryMode}}</td>
                <td>{{request.status}}</td>
                <td>{{request.user.username}}</td>
                <td>
                    <a routerLink="/request/detail" class="btn btn-success btn-sm">Submitt for review</a> 
                    

                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-sm table-hover" *ngIf="request">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Line Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of request.requestLines">
                <td>{{l.id}}</td>
                <td>{{l.product.name}}</td>
                <td>{{l.product.price}}</td>
                <td>{{l.quantity}}</td>
                <td>{{l.product.price * l.quantity}}</td>
                <td><a routerLink="/requestlines/change/{{l.id}}/{{l.requestId}}" class="btn btn-warning btn-sm">Change</a> | 
                    <a (click)="remove(l.id)" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
