<div id="component">
    <span id="title">{{pageTitle}}</span>
    <table class="center">
        <tbody>
            <tr>
                <td></td>
                <td><input [(ngModel)]="username" placeholder="Username"></td>
            </tr>
            <tr>
                <td></td>
                <td><input [(ngModel)]="password" type="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td colspan="2" class="text-danger fw-bold fst-italic">{{message}}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="login()" class="btn btn-primary btn-sm">Login</button>
</div>